.similar-artists-list{
    display: flex;
    position: relative;
    align-items: center;
    padding: 2px;
    gap: 5px;
    display: flex;
    text-align: left;
    
}

.left-arrow {
    position: absolute;
    left: -30px;
}

.left-arrow>*,
.right-arrow>* {
    font-size: 40px;
    color: #45474B;
}

.similar-artists-cards-container {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    scrollbar-width: none;
}

.similar-artist-image-container {
    position: relative;
}

.similar-artist-image-container img {
    width: 115px;
    aspect-ratio: 1;
    height: 100%;
    border-radius: 7px;
    border-radius: 50%;
    object-fit: cover;
}

.similar-artist-card-title {
    font-size: 0.8em;
    color: #1d1d1d;
    text-align: center;
    margin-top: 8px;
}



.similar-artist-image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s;
    border-radius: 50%;
    z-index: 1;
}

.similar-artist-image-container:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 700px) {
    .similar-artists-cards-container {
        display: flex;
        overflow-x: scroll;
        gap: 10px;
        scrollbar-width: none;
        margin-bottom: 50px;
    }

    .similar-artist-image-container img {
        width: 90px;
    }

    .left-arrow,
    .right-arrow {
        display: none;
    }
}